
    <nav class="navbar navbar-light" id="headerNavBar">
        <div class="container-fluid justify-content-center shadow rounded p-2">
        <a class="navbar-brand fs-1 fw-bolder" id="headerTitle" href="#">
            Food Angel
        </a>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light" id="headerSubNav">
        <div class="container-fluid px-5">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-fill w-100">
            <li class="nav-item">
                <a *ngIf="!loginService.isUserLoggedIn()" class="nav-link fw-bold text-muted" href="aboutus">About Us</a>
            </li>
            <li class="nav-item">
                <a *ngIf="!loginService.isUserLoggedIn()" class="nav-link fw-bold text-muted" href="request">Request for Help</a>
            </li>
            <li class="nav-item">
                <a *ngIf="!loginService.isUserLoggedIn()" class="nav-link fw-bold text-muted" href="status">Check Request Status</a>
            </li>
            <li class="nav-item">
                <a *ngIf="!loginService.isUserLoggedIn()" class="nav-link fw-bold text-muted" href="register">Angel Registration</a>
            </li>
            <li class="nav-item">
                <a *ngIf="!loginService.isUserLoggedIn()" class="nav-link fw-bold text-muted" href="login">Angel Login</a>
            </li>
            <li class="nav-item">
                <a *ngIf="loginService.isUserLoggedIn()" class="nav-link fw-bold text-muted" href="logout">Angel Logout</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>

