<div class="col">
    <div class="card-transparent w-80 m-5">
        <div class="card-body fst-italic">
            <div class="p-3 m-3">
                <h1>Food Angel</h1>
                <h3>Will never let you go hungry</h3>
            </div>
            <p class="card-text fs-5 fst-italic m-3 m-3">The pandemic made many of us realize the instability of life. Anything
                could change in an instant. During this time, many families went through an extremely hard time. Many of
                us wished to help the people of our neighborhood going through hard time, but not knowing how to do it.
                This made us develop the “Food Angel”.
            <p class="card-text fs-5 fst-italic m-3">What better way would it be to help our community than providing the
                most basic needs of day to today life “Essentials and Food”.
            </p>
            <p class="card-text fs-5 fst-italic m-3">
                This is a website that would allow angels to help the seekers of our neighborhood. Anyone who wants to
                help can sign up as an “Angel” on the website. They would be prompted to select the neighborhoods/areas
                where they would like to help. Also, anyone who needs help can log a request on our website with their
                home address.
            </p>

            <ul>
                <p class="card-text fs-5 fst-italic m-3">
                    Here is how it works:
                    <li> Seeker logs a help request on our website choosing from basic list of essentials.</li>
                    <li> This request would be sent to all the angels of that neighborhood.</li>
                    <li> The angels can choose to help or ignore.</li>
                    <li> If angel chooses to help, they will have 24 hours’ time limit.</li>
                    <li> After that time limit has been reached, we would be checking with the seeker if they are still
                        seeking
                        for help.</li>
                    <li> If yes, then the angel would be given a choice, if they still want to continue to be their
                        angel or
                        pass it on for others to help.</li>
                    <li> If they choose to still provide help, they will have 24 hours to provide required help to the
                        seeker.</li>
                    <li> If an angel is unable to still provide help, then the request would be passed on to others.
                    </li>
                    <li> Every 24hrs we would be checking with the seeker is they still require the help. If yes, the
                        request
                        would be kept alive else it would be deleted.</li>
                    <li> Once the angel is ready, he/she can drop off the essentials on the curbside of seekers address.
                    </li>
                </p>
            </ul>
            <ul>
                <p class="card-text fs-5 fst-italic m-3">
                    Disclaimer:
                    <li> Seeker’s address would be visible to the angel providing help.</li>
                    <li> Angel might be someone they might know.</li>
                    <li> All angels are requested to be as discrete as possible while dropping of groceries. If they see
                        each other, a friendly smile and wave would do from both.</li>
                    <li> This website is developed in goodwill for the community. Please do not misuse as someone might
                        be genuinely needing help.</li>
                </p>
            </ul>
        </div>
    </div>
</div>