<div class="container-fluid col-md-10 p-5 h-75">
    <div class="card" id="shadow">
        <img src="../../assets/images/sunrise.jpg" class="card-img" alt="..." id="bgImage">
        <div class="card-img-overlay">
            <!--Seek Help Request form-->
            <form class="row g-3 needs-validation p-5" novalidate [formGroup]="requestForm" (ngSubmit)="logRequest()">
                <h2 class="p-3">Request Form</h2>
                <div *ngIf="!isAngelPresent" class="alert fs-4">{{errorMsg}}</div>
                <!--Adress Fields-->
                <div formArrayName="address" class="col-md-12 position-relative">
                    <div class="col-md-8 form-check-inline position-relative py-3">
                        <label for="address" class="col-md-12 form-label fs-5">Add Your Address</label>
                        <input ngx-google-places-autocomplete [options]="options"
                            (onAddressChange)="AddressChange($event)" placeholder="Enter your address" type="text"
                            class="form-control" formControlName="addressText">
                            <span
                        *ngIf="requestForm.get('addressText')?.touched && requestForm.get('addressText')?.hasError('required')"
                        class="alert">Please
                        enter your home address</span>
                    </div>

                    <div class="col-md-5 form-check-inline position-relative">
                        <label for="address1" class="form-label">Address Line 1</label>
                        <input type="text" class="form-control" id="address1" formControlName="address1">
                    </div>
                    <div class="col-md-5 form-check-inline position-relative">
                        <label for="address2" class="form-label">Address Line 2</label>
                        <input type="text" class="form-control" #address2 formControlName="address2"
                            placeholder="Apartment, suite, unit, building, floor, etc">
                    </div>
                    <div class="col-md-5 form-check-inline position-relative p-2">
                        <label for="city" class="form-label">City</label>
                        <input type="text" class="form-control" id="locality" formControlName="city">
                    </div>
                    <div class="col-md-5 form-check-inline position-relative p-2">
                        <label for="state" class="form-label">State</label>
                        <input type="text" class="form-control" id="administrative_area_level_1"
                            formControlName="state">
                    </div>
                    <div class="col-md-5 form-check-inline position-relative p-2">
                        <label for="zipCode" class="form-label">Zip</label>
                        <input type="number" class="form-control" id="postal_code" formControlName="zipCode">
                    </div>
                    <div class="col-md-5 form-check-inline position-relative p-2">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" class="form-control" id="country" formControlName="country">
                    </div>
                </div>

                <div class="col-md-5 position-relative p-2">
                    <label for="firstName" class="form-label">First name</label>
                    <input type="text" class="form-control" id="firstName" formControlName="firstName">
                    <span
                        *ngIf="requestForm.get('firstName')?.touched && requestForm.get('firstName')?.hasError('required')"
                        class="alert">Please
                        enter Firstname</span>
                </div>

                <div class="col-md-5 position-relative p-2">
                    <label for="lastName" class="form-label">Last name</label>
                    <input type="text" class="form-control" id="lastName" formControlName="lastName">
                    <span
                        *ngIf="requestForm.get('lastName')?.touched && requestForm.get('lastName')?.hasError('required')"
                        class="alert">Please
                        enter Lastname</span>
                </div>

                <div class="col-md-5 position-relative p-2">
                    <label for="emailAddress" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="emailAddress" formControlName="emailAddress">
                    <span *ngIf="requestForm.get('emailAddress')?.touched" class="alert">
                        <span *ngIf="requestForm.get('emailAddress')?.hasError('required')">Please
                            enter Email Address</span>
                        <span *ngIf="requestForm.get('emailAddress')?.hasError('email')">Please
                            enter Valid Email Address</span>
                    </span>
                </div>

                <div class="col-md-5 position-relative p-2 pt-5">
                    <label class="form-label pe-3">Select Gender</label>
                    <div class="form-check form-check-inline mx-3">
                        <input class="form-check-input" type="radio" formControlName="gender" id="male" value="male">
                        <label class="form-check-label" for="male">
                            Male
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="gender" id="female"
                            value="female">
                        <label class="form-check-label" for="female">
                            Female
                        </label>
                    </div>
                </div>

                <div class="col-md-5 position-relative p-2">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <input type="number" class="form-control" id="phoneNumber" formControlName="phoneNumber">
                    <span *ngIf="requestForm.get('phoneNumber')?.touched">
                        <span *ngIf="requestForm.get('phoneNumber')?.hasError('required')" class="alert">Please
                            enter Phone Number</span>
                        <span *ngIf="requestForm.get('phoneNumber')?.hasError('pattern')" class="alert">Please
                            enter valid Phone Number</span>
                    </span>
                </div>

                <div class="col-md-5 position-relative p-2">
                    <label for="altNumber" class="form-label">Alternate Number</label>
                    <input type="number" class="form-control" id="altNumber" formControlName="altNumber">
                    <span
                        *ngIf="requestForm.get('altNumber')?.touched && requestForm.get('altNumber')?.hasError('pattern')"
                        class="alert">Please
                        enter valid Alternate Phone Number</span>
                </div>

                <div class="col-md-12 position-relative p-4">
                    <label class="form-label">Select some essentials that might be good to have : </label>
                    <div class="col-md-12 position-relative p-2 form-check" *ngFor="let item of items">
                        <input class="form-check-input" type="checkbox" [value]="item.id" (change)="onCheckboxChange($event)" formControlName="checkboxes">
                        <label class="form-check-label" for="item">
                            {{item.name}} ({{item.description}})
                        </label>
                    </div>
                </div>

                <div class="col-md-12 position-relative p-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="termsAndConditions"
                            formControlName="termsAndConditions">
                        <label class="form-check-label" for="termsAndConditions">
                            Agree to terms and conditions
                        </label>
                    </div>
                    <span
                        *ngIf="requestForm.get('termsAndConditions')?.touched && requestForm.get('termsAndConditions')?.hasError('required')"
                        class="alert">Please
                        read terms and conditions and select if you agree</span>
                </div>

                <div class="d-grid gap-2 col-3 p-2">
                    <button class="btn btn-dark" type="submit" [disabled]="!requestForm.valid || !isAngelPresent">Log Request</button>
                </div>
                <div class="d-grid gap-2 col-3 p-2">
                    <button class="btn btn-dark" type="reset" (click)="resetForm()">Clear</button>
                </div>

            </form>
        </div>
    </div>
</div>